/* Настройки за светлата тема */

$toggleButtonBg: $shade400;
$toggleButtonBorder: 1px solid $shade400;
$toggleButtonTextColor: $textColor;
$toggleButtonIconColor: $textColor;
$toggleButtonHoverBg: $shade500;
$toggleButtonHoverBorderColor: $shade500;
$inputTextColor:$shade900;